<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ADApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="smtpServer" value="smtp.bih.net.ba" />   
    <add key="Password" value="113ser114"/>
    <add key="EnableSsl" value="true"  />
    <add key="smtpPort" value="587" />
    <add key="from" value="service@sarajevoosiguranje.ba" />
    <add key="to" value="it@sarajevoosiguranje.ba" ></add>    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DesignSaoOsig1"
     providerName="System.Data.ProviderName"
     connectionString="Data Source=192.168.0.135;Initial Catalog=DesignSaoOsig1;Persist Security Info=True;User ID=saosigdesign;Password=saosigdesign" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="LokalniString"
     providerName="System.Data.ProviderName"
     connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=DesignSaoOsig1;Integrated Security=True" />
  </connectionStrings>-->
  <userSettings>
    <ADApp.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </ADApp.Properties.Settings>
  </userSettings>
</configuration>


